/build
/dist
/*.egg-info
__pycache__/
*.pyc

#cpe_search
config
*egg-info
__pycache__
reports
html_reports
*.pyc
json_reports
pdf_reports
verification_output
*.txt
~

#cve_finder
cpe-search-dictionary.db3
deprecated-cpes.json
__pycache__/
.vscode
